$dark: #212121;
$light: #efefef;

@mixin btn($left, $top) {
  width: 40px;
  height: 40px;
  top: $top;
  left: $left;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 20px;
  left: -4px;
  background-color: $dark;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

@mixin iconCircle($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 2px;
  border-radius: 100%;
  background: transparent;
  border: 2px solid black;
  left: -15px;
}

.btn{
  @include btn(15px, 400px);
  
  .iconCircle {
    @include iconCircle(40px, 40px);
    &:hover {
      background: #fff;
    }
  }
  
  .icon {
    @include icon(3px, 18px);
    border-radius: 3px;
    
    &:before{
      @include icon-before(3px, 18px, -10px);
      border-radius: 3px;
    }
    
    &:after{
      @include icon-after(3px, 18px, 10px);
      border-radius: 3px;
    }
  }
  
  &.open {
    .iconCircle {
      background: #fff;
    }
    .icon {
      transition-duration: 0.5s;
      background: transparent;
      
      &:before{
        transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}